# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
*.eggs/
*.whl

# Virtual env
venv/
env/
ENV/
.venv/

# Django
*.log
*.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (if any)
node_modules/

# env
.env
.env.local
